body{
    background-color:#b9e0e9;
    font-family: "Times New Roman", Times, serif;
    color:#072933;
    font-size: 16px;
    line-height: 2em;
}

.center {
    display: block;
    width: 150px;
    margin: 1em auto;
  }

h1, h2{
    color: #072933;
    border-radius: 2em;
    margin: 10px;
}
.hr {color: #072933;}

.banner{width: 100%}

nav {font-size: 20px; text-align: center; display: flex; justify-content: space-between;  margin: 70px;}
nav a {color:#072933; width: 90%; background-color: azure;}


.clear {clear: both;}


.centeredtext {text-align: center;}

.page1 {display: flex; flex-wrap: wrap; }

.title1, .title3 {background-color: #8ec0ce; border-radius: 1em; padding: 20px;}
.title2 {margin: 2em;}

.pic1, .pic3 {padding: 2em; float: left;}
.pic2 {padding:20px; float: right;}

.part2 {display: flex; flex-wrap: wrap;  border-radius: 1em; padding: 20px; margin: 2em;}
.part2 article {padding: 10px; margin: 20px;}
.page2 {margin: 10px;}
.page21 {flex: 1; order: 1; } 
.page22 {flex: 1; order: 2;}

.part3 article {display: flex; flex-wrap: wrap; border-radius: 1em; padding: 20px; margin: 2em; background-color: #8ec0ce;}


.pic33 {display: block;
    margin-left: auto;
    margin-right: auto;}


.page33 {border-radius: 1em; padding: 20px; margin: 2em;}

footer p {color: #072933}

.logo {width: 50px; margin: 20px;}

@media only screen and (max-width: 600px) {}

.part2 {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  